development:
  adapter: postgresql
  encoding: unicode
  database: flight_app_development

test:
  adapter: postgresql
  encoding: unicode
  database: flight_app_test

production:
  adapter: postgresql
  encoding: unicode
  database: flight_app_production